<ion-content>
  <ion-header>
    <ion-toolbar class="h">
      <ion-title style="color:white">
        Edit Task
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button routerLink="/"></ion-back-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <div class="container">

    <div class="add-task" style="padding-top: 6%;">

      <ion-item class="input-task" lines="full">
        <ion-label>TaskName:</ion-label>
        <ion-input type="text" required [(ngModel)]="updateItem.name"></ion-input>
      </ion-item>

      <ion-item class="input-task" lines="none">
        <ion-label>Priority:</ion-label>
        <ion-input type="text" required [(ngModel)]="updateItem.priority"></ion-input>
      </ion-item>

      <ion-item class="priority" lines="full">
        <div class="priority-btns">
          <ion-button (click)="changeStyle('High Priority')"
            [ngClass]="{ 'btn-checked': taskPriority === 'High Priority' }" fill="outline"
            color="none">{{ "AddTask.PriorityType.High" | translate }}</ion-button>
          <ion-button (click)="changeStyle('Medium Priority')"
            [ngClass]="{ 'btn-checked': taskPriority === 'Medium Priority' }" color="none" fill="outline">{{
            "AddTask.PriorityType.Medium" | translate }}</ion-button>
          <ion-button (click)="changeStyle('Low Priority')"
            [ngClass]="{ 'btn-checked': taskPriority === 'Low Priority' }" color="none"
            fill="outline">{{ "AddTask.PriorityType.Low" | translate }}</ion-button>
          <ion-button (click)="changeStyle('Very Low Priority')"
            [ngClass]="{ 'btn-checked': taskPriority === 'Very Low Priority' }" color="none" fill="outline">{{
            "AddTask.PriorityType.VeryLow" | translate }}</ion-button>
        </div>
      </ion-item>
      <ion-item>

        <ion-label>Category:</ion-label>
        <ion-select placeholder="Select Category" [(ngModel)]="updateItem.category" style="margin-right: 27%;">
          <ion-select-option value="All">All</ion-select-option>
          <ion-select-option value="Work">Work</ion-select-option>
          <ion-select-option value="Personal">Personal</ion-select-option>
          <ion-select-option value="Birthday">Birthday</ion-select-option>
        </ion-select>
      </ion-item>

      <!--       
      <ion-item class="input-task" lines="full">

        <ion-label>Category:</ion-label>
        <ion-input type="text" required [(ngModel)]="updateItem.category"></ion-input>
      </ion-item> -->


      <ion-item class="date" lines="full">
        <ion-label>date</ion-label>
        <ion-input (click)="openDatePicker()" [(ngModel)]="updateItem.date"
          value="{{ selectedDate | date: 'EEEE, d MMMM' }}" id="open-date-picker"></ion-input>
        <ion-icon src="assets/icon/date.svg"></ion-icon>
      </ion-item>

    </div>

    <div class="create-task-btn">
      <ion-button color="white" (click)="update()">
        <ion-label>Save</ion-label>
      </ion-button>
    </div>
  </div>
  <!-- <div class="container">

    <div class="add-task" style="padding-top: 6%;">

      <ion-item class="input-task" lines="full">
        <ion-label>TaskName:</ion-label>
        <ion-input type="text" required [(ngModel)]="updateItem.name"></ion-input>
      </ion-item>
      <ion-item class="input-task" lines="full">
        <ion-label>Priority:</ion-label>
        <ion-input type="text" required [(ngModel)]="updateItem.priority"></ion-input>
      </ion-item> <ion-item class="input-task" lines="full">
        <ion-label>Category:</ion-label>
        <ion-input type="text" required [(ngModel)]="updateItem.category"></ion-input>
      </ion-item>



    </div>

    <div class="create-task-btn">
      <ion-button color="white" (click)="update()">
        <ion-label>Save</ion-label>
      </ion-button>
    </div>
  </div> -->
</ion-content>