<ion-content>
  <div class="container">
    <!-- <h1>Welcome</h1>
    <div class="img">
      <img src="assets/images/auth.svg" alt="">
    </div>
    <div class="options">
      <ion-button shape="round" routerLink="/welcome">Login</ion-button>
      <ion-button shape="round">Register</ion-button>
    </div>
   -->
    <div class="container">
      <h1>Welcome to To-do List</h1>
      <img src="assets/images/todo-list.svg" alt="">
      <div class="offers">
        <div class="title">
          <h1>Special Offers for New <br> Users
            <ion-label>PRO</ion-label>
          </h1>
        </div>
        <div class="offer-card">
          <ion-card (click)="subscribe('price_1MoURjSJpfM5g6nofHf8oJ6T')">
            <ion-label>1</ion-label>
            <p>Month</p>
            <ion-text><span>&#8377;</span>170.00</ion-text>
          </ion-card>
          <ion-card (click)="subscribe('price_1MoUSRSJpfM5g6noUKUafpnh')">
            <ion-label>12</ion-label>
            <p>Month</p>
            <ion-text><span>&#8377;</span>700.00</ion-text>
          </ion-card>
        </div>
      </div>

      <div class="continue-btn">
        <ion-button (click)="continue()">Continue for Free</ion-button>
      </div>

      <!-- <ion-button routerLink="/update">Update</ion-button> -->

    </div>
  </div>
</ion-content>