<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="heading">
      <h2>{{'Archive.ArchiveText'|translate}}</h2>
      <ion-icon name="trash" size="large"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf=" !deletedTask.length" class="del-task">
    <ion-img src="assets/images/delete.jpg"></ion-img>
    <p class="task-info">{{'Archive.NoTask'|translate}}</p>
  </div>
  <div *ngIf="deletedTask" class="tasklist">
    <app-visitor-fav *ngFor="let task of deletedTask" [task]="task"></app-visitor-fav>
  </div>

</ion-content>