<!-- <ion-content [fullscreen]="true">
  <div class="circle circle1"></div>

  <form [formGroup]="signupForm" class="container">
    <ion-icon name="person" color="black"></ion-icon>
    <ion-item lines="none" class="ion-text-center itemDesign" color="light">
      <ion-ion-input required formControlName="email" type="text" placeholder="Enter email"></ion-ion-input>
    </ion-item>
    <p *ngIf="formData.email.invalid && formData.email.touched" lines="none" class="form-error">
      Please enter a valid email address.
    </p>
    <ion-item lines="none" class="ion-text-center itemDesign" color="light">
      <ion-ion-input required formControlName="password" type="text" placeholder="Enter password"></ion-ion-input>
    </ion-item>
    <p *ngIf="formData.password.invalid && formData.password.touched" lines="none" class="form-error">
      Please enter a valid password.
    </p>
    <ion-button class="login-btn" type="submit" [disabled]="signupForm.invalid" (click)="onSubmit()">
      Register
    </ion-button>
  </form>


  <div class="circle circle2"></div>

  <div class="align ion-text-center">
    <div class="loginbtn">
      <ion-label routerLink="/email-login">Already have a account? <span style="color: yellow;">Sign
          in</span></ion-label>

    </div>
 
   
  </div>
</ion-content> -->

<ion-content class="ion-padding">
  <h1>Create Account,</h1>
  <h3>Sign up to get started!</h3>
  <img src="assets/images/auth.svg" alt="">
  <form [formGroup]="signupForm">
    <ion-item class="form-field">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <!-- <div *ngIf="signupForm.controls.name.invalid && signupForm.controls.name.touched" color="danger" class="form-error">
      *Mandatory field.
    </div> -->
    <ion-item class="form-field">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <!-- <div *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched" color="danger"
      class="form-error">
      *Mandatory field.
    </div> -->

    <ion-item class=" form-field pass">
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="showPass ? 'text' : 'password'" formControlName="password"></ion-input>
      <ion-icon slot="end" (click)="showPass = !showPass"
        [name]="showPass ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-item>
    <!-- <div *ngIf="signupForm.controls.password.invalid && signupForm.controls.password.touched" color="danger"
      class="form-error">
      *Mandatory field.
    </div> -->
    <app-button label='Register' (click)="onSubmit()"></app-button>
    <app-icon-button icon='logo-google' label='Connect with Google' color="danger" (click)="google()"></app-icon-button>
  </form>

  <p class="footer-text">I'm already a member, <a routerLink="/email-login">Sign In</a></p>
</ion-content>