<!-- <ion-content [fullscreen]="true">
  <div class="circle circle1"></div>

  <form [formGroup]="signupForm" class="container">
    <ion-icon name="person" color="black"></ion-icon>
    <ion-item lines="none" class="ion-text-center itemDesign" color="light">
      <ion-input required formControlName="email" type="text" placeholder="Enter email"></ion-input>
    </ion-item>
    <p *ngIf="formData.email.invalid && formData.email.touched" lines="none" class="form-error">
      Please enter a valid email address.
    </p>
    <ion-item lines="none" class="ion-text-center itemDesign" color="light">
      <ion-input required formControlName="password" type="text" placeholder="Enter password"></ion-input>
    </ion-item>
    <p *ngIf="formData.password.invalid && formData.password.touched" lines="none" class="form-error">
      Please enter a valid password.
    </p>
    <ion-button class="login-btn" type="submit" [disabled]="signupForm.invalid" (click)="onSubmit()">
      Register
    </ion-button>
  </form>


  <div class="circle circle2"></div>

  <div class="align ion-text-center">
    <div class="loginbtn">
      <ion-label routerLink="/email-login">Already have a account? <span style="color: yellow;">Sign
          in</span></ion-label>

    </div>
 
   
  </div>
</ion-content> -->
<ion-content class="ion-padding">
  <h1>Create Account,</h1>
  <h3>Sign up to get started!</h3>

  <form [formGroup]="signupForm">
    <div class="form-field">
      <label [ngClass]="focused ? 'label-focused' : ''">Username</label>
      <input type="text" (focus)="focused = true" (blur)="onBlur($event)" formControlName="name" />
    </div>
    <p *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched" color="danger" class="form-error">
      *Please enter a valid name
    </p>
    <div class="form-field">
      <label [ngClass]="focused ? 'label-focused' : ''">Email</label>
      <input type="email" (focus)="focused = true" (blur)="onBlur($event)" formControlName="email" />
    </div>
    <p *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched" color="danger" class="form-error">
      *Please enter a valid email address
    </p>
    <div class="form-field">
      <div class="pass">
        <label [ngClass]="focused ? 'label-focused' : ''">Password</label>
        <input [type]="passwordType" (focus)="focused = true" (blur)="onBlur($event)" formControlName="password" />
      </div>


      <div (click)='hideShowPassword()' class="icon">
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon"></ion-icon>
      </div>
    </div>
    <p *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched" color="danger"
      class="form-error">
      *Please enter a valid password
    </p>
    <app-button label='Register' (click)="onSubmit()"></app-button>
    <app-icon-button icon='logo-google' label='Connect with Google' color="danger" (click)="google()"></app-icon-button>
  </form>

  <p class="footer-text">I'm already a member, <a routerLink="/email-login">Sign In</a></p>
</ion-content>