<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="section">

    <img [src]="image ? image : 'assets/images/user.jpg'" alt="" (click)="selectImage()" />
    <div class="lx-row">
      <h6 class="title">Edit your profile</h6>
    </div>
    <div class="form">
      <form [formGroup]="profile">
        <ion-item>
          <ion-label position="floating">Username <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
          <ion-input readonly formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item class="select">
          <ion-select placeholder="Select Gender" formControlName="gender">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">City <ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="city" type="text"></ion-input>
        </ion-item>
      </form>
      <ion-item class="help" detail="true" (click)="openHelp()">
        <img src="assets/images/help.png" alt="">
        <ion-label>Help</ion-label>
      </ion-item>
      <div class="actions">
        <ion-button id="cancel" class="lx-btn" (click)="cancel()">Cancel</ion-button>

        <ion-button (click)="save()" id="save" class="lx-btn">Save</ion-button>
      </div>
    </div>
  </div>
  <!-- <main class="has-dflex-center">
    <section>
      <div class="lx-container-70">
        <div class="lx-row align-stretch">
          <div class="lx-column column-user-pic">
            <div class="profile-pic bs-md">
             
              <div class="pic bs-md">
                <img src="assets/images/user.jpg" alt="" loading="lazy">
                <a id="change-avatar" class="lx-btn"><i class="fas fa-camera-retro"></i>&nbsp;&nbsp;Change your profile
                  picture.</a>
              </div>
              <div class="pic-info">
                <p><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;This photo will appear on the platform, in
                  your contributions or where it is mentioned.</p>
              </div>
            </div>
          </div>
          <div class="lx-column">
            <form action="get">
              <div class="fieldset">
                <label for="user-name">Name</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-user"></i></span>
                  <input type="text" id="user-name" value="Lorem Ipsum" autocomplete="username" required>
                </div>
                <div id="user-name-helper" class="helper">
                 
                </div>
              </div>
              <div class="fieldset">
                <label for="user-id">Registration</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-address-card"></i></span>
                  <input type="number" id="user-id" value="424242" required>
                </div>
                <div id="user-id-helper" class="helper"></div>
              </div>
              <div class="fieldset">
                <label for="email">E-mail</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                  <input type="email" id="email" value="lorem@ipsum.com" autocomplete="username">
                </div>
                <div id="email-helper" class="helper"></div>
              </div>
              <div class="fieldset">
                <label for="pass">Password</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-key"></i></span>
                  <input type="password" id="pass" value="pass123*" autocomplete="current-password">
                </div>
                <div id="pass-helper" class="helper"></div>
              </div>
              <div class="actions">
                <a id="cancel" class="lx-btn"><i class="fas fa-ban"></i>&nbsp;&nbsp;Cancel</a>
               
                <a id="save" class="lx-btn"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main> -->

  <!-- <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" defer crossorigin="anonymous"
    data-search-pseudo-elements></script> -->

</ion-content>