* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 4%;
  margin-bottom: 10px;
  font-size: 27px;
  font-weight: 700;
}

.form-error {
  color: red;
  font-weight: 500;
  font-size: 12px;
}

h3 {
  color: #939fab;
  font-weight: 500;
  font-size: 18px;
}

form {
  margin-top: -32px;
  ;
  padding: 7px;

  app-button {
    display: block;
    margin-top: 20px;
  }
}

.footer-text {
  text-align: center;
  font-size: 17px;
  margin-top: 7%;
  color: #171c25 !important;
  font-weight: 600;

  a {
    text-decoration: underline;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
}

ion-item {
  --padding-start: 0px;

  ion-label {
    color: #939fab;
  }

  ion-input {}

  input:focus {
    border-color: #fa578e;
  }

  .label-focused {
    top: -0.4rem;
    left: 0.8rem;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    z-index: 10;
  }

  &.pass {
    width: 88%;
  }
}

.form-field {
  &.pass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
  }
}