<!-- <ion-content [fullscreen]="true">
  <div class="circle circle1"></div>
  <form [formGroup]="loginForm" class="container">
    <ion-icon name="person" color="black" class="person"></ion-icon>
    <ion-item lines="none" class="ion-text-center itemDesign" color="light">
      <ion-input required formControlName="email" type="text" placeholder="Enter email"></ion-input>
    </ion-item>
    <p *ngIf="formData.email.invalid && formData.email.touched" lines="none" class="form-error">
      Please enter a valid email address.
    </p>
    <ion-item lines="none" class="ion-text-center itemDesign" color="light">
      <ion-input required formControlName="password" type="text" placeholder="Enter password"></ion-input>
    </ion-item>
    <p *ngIf="formData.password.invalid && formData.password.touched" lines="none" class="form-error">
      Please enter a valid password.
    </p>
    <ion-button class="login-btn" type="submit" (click)="onSubmit()">
      Login
    </ion-button>

  </form>
  <div class="circle circle2"></div>

  <div class="section">
    <a href="forgot-password">Forgot-password?</a>

    <div class="align ion-text-center">

      <div class="loginbtn">
        <ion-label routerLink="/email-signup">Don't have an account? <span style="color: yellow;">Sign
            up</span></ion-label>
      </div>
    </div>

    <br>

    <div class="login-section">
      <div class="div">OR</div>
      <ion-icon name="logo-google" class="l" color="danger" (click)="google()"></ion-icon>
    </div>
  </div>
</ion-content> -->
<ion-content class="ion-padding">
  <h1>Welcome,</h1>
  <h3>Sign in to continue!</h3>
  <img src="assets/images/login.jpg" alt="">
  <form [formGroup]="loginForm">
    <ion-item class="form-field">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" color="danger" class="form-error">
      *Mandatory field.
    </div>

    <ion-item class=" form-field pass">
      <ion-label position="floating">Password</ion-label>
      <ion-input [type]="showPass ? 'text' : 'password'" formControlName="password"></ion-input>
      <ion-icon slot="end" (click)="showPass = !showPass"
        [name]="showPass ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-item>
    <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" color="danger"
      class="form-error">
      *Mandatory field.
    </div>
    <h3 class="footer-text" style="text-align: right;font-size: 15px;"><a routerLink="/forgot-password">Forgot
        Password?</a></h3>
    <app-button label='Login' (click)="onSubmit()"></app-button>
    <!-- <app-icon-button icon='logo-google' label='Connect with Google' color="danger" (click)="google()"></app-icon-button> -->
  </form>

  <p class="footer-text">I'm a new user, <a routerLink="/email-signup">Sign Up</a></p>
</ion-content>