@font-face {
    font-family:'Source Sans Pro-Bold' ;
    src: url(../assets/fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: 'Source Sans Pro-SemiBold';
    src: url(../assets/fonts/SourceSansPro-SemiBold.ttf);
}