<div class="container">
  <div class="add-task">
    <ion-list class="ion-margin">
      <form [formGroup]="inputTask">
        <ion-item class="input-task">
          <ion-label>{{ "AddTask.TaskName" | translate }}</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
      </form>

      <ion-item class="date">
        <ion-label>{{ "AddTask.Date" | translate }}</ion-label>
        <ion-input (click)="openDatePicker()" value="{{ selectedDate | date: 'EEEE, d MMMM' }}"
          id="open-date-picker"></ion-input>
        <ion-icon src="assets/icon/date.svg"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="priority">
    <ion-label>{{ "AddTask.Priority" | translate }}</ion-label>
    <div class="priority-btns">
      <ion-button (click)="changeStyle('High Priority')" [ngClass]="{ 'btn-checked': taskPriority === 'High Priority' }"
        fill="outline" color="none">{{ "AddTask.PriorityType.High" | translate }}</ion-button>
      <ion-button (click)="changeStyle('Medium Priority')"
        [ngClass]="{ 'btn-checked': taskPriority === 'Medium Priority' }" color="none" fill="outline">{{
        "AddTask.PriorityType.Medium" | translate }}</ion-button>
      <ion-button (click)="changeStyle('Low Priority')" [ngClass]="{ 'btn-checked': taskPriority === 'Low Priority' }"
        color="none" fill="outline">{{ "AddTask.PriorityType.Low" | translate }}</ion-button>
      <ion-button (click)="changeStyle('Very Low Priority')"
        [ngClass]="{ 'btn-checked': taskPriority === 'Very Low Priority' }" color="none" fill="outline">{{
        "AddTask.PriorityType.VeryLow" | translate }}</ion-button>
    </div>
  </div>
  <div class="create-task-btn">
    <ion-button color="white" (click)="addTask()">
      <ion-icon src="assets/icon/add-blue.svg"></ion-icon>
      <ion-label>Create Task</ion-label>
    </ion-button>
  </div>
</div>