h2 {
    text-align: center;
    padding: 10px 20px;
    line-height: 30px;

    padding: 26px 14px 0px 18px;
    color: var(--ion-color-primary);

}

.link {
    font-size: 14px;
    text-align: center;
    padding: 10px 12px;
    color: gray;
    line-height: 22px;

}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 9px 52px;
    text-align: center;
    border: 1px solid gray;
    color: gray;
    font-weight: 400;
    margin-top: 18px;
}

ion-button {
    margin-left: 23%;
    --background: linear-gradient(90deg, var(--ion-color-primary) 0%, var(--ion-color-primary) 100%) !important;
    margin-bottom: 26px
}

ion-content {
    --background: linear-gradient(90deg, var(--ion-color-primary) 0%, var(--ion-color-primary) 100%) !important;
}

.box {
    background: white;
    width: 344px;
    margin: 37% 16px;

}