<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="heading">
      <h2>{{'Favourite.FavouriteText'|translate}}</h2>
      <ion-icon src="assets/icon/fill-star.svg" size="large"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="!favTask.length" class="fav-task">
    <ion-img src="assets/images/fav.svg"></ion-img>
    <p class="task-info">{{'Favourite.NoTask'|translate}}</p>
  </div>

  <div *ngIf="favTask" class="tasklist">
    <app-task *ngFor="let task of favTask" [task]="task"></app-task>
  </div>

  <!-- <div class="fav-btn">
    <ion-button (click)="goBack()">{{'Favourite.FavouriteTask'|translate}}</ion-button>
  </div> -->
</ion-content>