<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668049412758-bkrlstnac66f59lee8g4ir2ct8ibjj5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668049412758-bkrlstnac66f59lee8g4ir2ct8ibjj5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>668049412758-gm348es86rceh9vfc9iqoddl1fahat9q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAc2gXZpoHWxtSWrbJ3JrTYUjz1OJTksdk</string>
	<key>GCM_SENDER_ID</key>
	<string>668049412758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-c31c6</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c31c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:668049412758:ios:3810c12c7d0577b31028b7</string>
</dict>
</plist>
